<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitor Information</title>
    <link rel="stylesheet" href="/stylesheet/new_visitor.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <form action="http://localhost:5000/app/new_visitor" method="POST">
        <fieldset>
            <legend>Visitor Information</legend>

            <label for="visitor_name">Visitor name: </label>
            <input type="text" name="visitor_name" id="visitor_name" placeholder="Please enter your name" maxlength="40" required > <br>

            <label for="assisted_by">Assisted by: </label>
            <input type="text" name="assisted_by" id="assisted_by" placeholder="Please enter a name" maxlength="40" required > <br>

            <label for="visitor_age">Visitor Age: </label>
            <input type="number" name="visitor_age" id="visitor_age" placeholder="Please enter your age" min="1" max="100" onkeyup="if(this.value > 100) this.value = null;" required > <br>

            <label for="date_of_visit">Date of visit: </label>
            <input type="date" name="date_of_visit" id="date_of_visit" required > <br>

            <label for="time_of_visit">Time of visit: </label>
            <input type="time" name="time_of_visit" id="time_of_visit" required > <br>

            <label for="comment">Comments: </label>
            <textarea name="comment" rows="10" cols="50" id="comment"></textarea> <br>

            <button type="submit" id="submit">Submit</button>
        </fieldset>
    </form>
</body>
</html>
